/* #cardcourse:hover{
     @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl rounded-2xl;
      
} */
/* #cardcourse:hover img.zoomable {
     transform: scale(1.1);
     
     padding: 0;
   }
   
   #cardcourse img.zoomable {
     transition: transform 0.3s ease-in-out;
   } */
   
   .card-container {
    position: relative;
    overflow: hidden;
  }
  
  .card-container:hover .card-image {
    transform: scale(1.1);
  }
  
  .card-image {
    transition: transform 0.3s ease;
    width: 100%;
    height: 50%;
    object-fit:fill;
  }
  